<div class="upper-body-container">
	<div class="welcome">
			<h2>Full-Stack Web Developer</h2>
			<h2>Lifelong Learner</h2>
			<h2>Adventure Seeker</h2>
			<h2>Amateur Ukulele Player</h2>
			<h2>Avid Movie Goer</h2>
	</div>

	<div class="divider">
			
			<div>
					<h3>B L O G S</h3>
			</div>
			
	</div>
</div>
	

<div class="mid-body-container">
	<div class ="blogs-container">
		<% @blogs.each do |blog| %>
			<div class="blog">
				<p class="blog-title">
					<%= blog.title %>
				</p>
				<hr />
				<p class="blog-date">
					<%= blog.created_at.strftime("%A") %>, 
					<%= blog.created_at.strftime("%B #{blog.created_at.day.ordinalize}, %Y")%>
				</p>
				<p class="blog-content">
					<%= blog.content %>
				</p>
			</div>
		<% end %>
	</div>

	<div class="divider">
			<div><h3>P O R T F O L I O</h3></div>
	</div>
</div>

<div class="lower-body-container">
	<div class="portfolio">


	</div>
</div>
	

