<div class="body-container debugger">
	<h1>Latest Blog</h1>

	<p>
		<%= @blog.created_at.strftime("%A") %>,
		<%= @blog.created_at.strftime("%B #{@blog.created_at.day.ordinalize}, %Y")%>
	</p>

	
	<p class="debugger"><%= @blog.content %></p>

</div>

