//= require_tree .
//= require_self

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: "Lucida Console", Monaco, monospace;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #B3B3B3;
  text-align: center;
  color:white;
  height:200px;
  line-height:150px;
}